@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Redis A/B is an open source project. You too can contribute on our <a data-view-name="@ViewBag.ViewName" data-action-name="@ViewContext.RouteData.GetRequiredString("action")" href="https://github.com/stimms/RedisAB">github page</a></p>
