@{
    ViewBag.Title = "Hey";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <div style="display: block">
        <span style="float: left; width:300px">
            Redis A/B is an open source project. You too can contribute on our <a href="https://github.com/stimms/RedisAB">github page</a>
        </span>
        <span style="float: right">
            <img src="http://www.cr0hn.com/img/github-logo.png" />
        </span>

    </div>
</div>

