@model IEnumerable<String>
@{
    ViewBag.Title = "Campaigns";
}

<h2>Campaigns</h2>
<ul>
    @foreach (var key in Model.Select(x=>x.Split('.').First()).Distinct())
    {
        <li>@Html.ActionLink(key, "Details", new { keyName = key })</li>
    }
</ul>
